{%  extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}
{% load privileged_get %}

{% block problem_content %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1>{% trans 'Add a testcase' %}</h1>
            <form class="form-horizontal" method="post" action="{% problem_url "problems:add_testcase" %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.input_uploaded_file %}
                {# {% bootstrap_field form|privileged_get:"_input_generator" %} #}
                {# {% bootstrap_field form|privileged_get:"_input_generation_parameters" %} #}
                {% bootstrap_field form.output_uploaded_file %}
                {# {% bootstrap_field form|privileged_get:"_solution" %} #}
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">
                        {% trans 'Upload' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}