{% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}
{% load object_list_generator %}

{% block problem_content %}
    <style type="text/css">
        .body_foreground { color: #AAAAAA; }
        .body_background { background-color: #000000; }
        .body_foreground > .bold,.bold > .body_foreground, body.body_foreground > pre > .bold { color: #FFFFFF; font-weight: normal; }
        .scrolled {max-height: 500px; overflow: auto;}
    </style>

    <div class="row">
        <h2> {% trans 'Analysis' %} </h2>
    </div>
    <div class="row">
        <h3> {% trans 'Verification' %} </h3>
    </div>
    {% if revision.verification_status.start_allowed %}
        <div class="row">
            <a data-method="post" href="{% problem_url "problems:analyze" %}" class="btn btn-success">
                <i class="fa fa-gear"></i>
                {% trans 'Analyze directory structure' %}
            </a>
        </div>
    {% endif %}
    <div class="row">
        {% trans 'Status' %}: {{ revision.verification_status.name }}
    </div>
    <br />
    {% if revision.verification_status.output_presentable %}
        <div class="row">
            {% trans 'Stdout' %}: <br/>
            <pre class="body_foreground body_background scrolled" >{{ verify_out | safe }}</pre>

        </div>
        <div class="row">
            {% trans 'Stderr' %}: <br/>
            <pre class="body_foreground body_background scrolled" >{{ verify_err | safe }}</pre>
        </div>
    {% endif %}

    <div class="row">
        <h3> {% trans 'Generation' %} </h3>
    </div>
    {% if revision.generation_status.start_allowed %}
        <div class="row">
            <a data-method="post" href="{% problem_url "problems:analysis_generate" %}" class="btn btn-success">
                <i class="fa fa-gear"></i>
                {% trans 'Generate' %}
            </a>
        </div>
    {% endif %}
    <div class="row">
        {% trans 'Status' %}: {{ revision.generation_status.name }}
    </div>
    <br />
    {% if revision.generation_status.output_presentable %}
        <div class="row">
            {% trans 'Stdout' %}: <br/>
            <pre class="body_foreground body_background scrolled" >{{ generate_out | safe }}</pre>

        </div>
        <div class="row">
            {% trans 'Stderr' %}: <br/>
            <pre class="body_foreground body_background scrolled" >{{ generate_err | safe }}</pre>
        </div>
    {% endif %}

{% endblock %}
