{% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}
{% load object_list_generator %}

{% block problem_content %}
    <div class="row">
        <h2> {% trans 'Analysis' %} </h2>
    </div>
    <div class="row">
        <h3> {% trans 'Verification' %} </h3>
    </div>
    {% if revision.verification_status.start_allowed %}
        <div class="row">
            <a data-method="post" href="{% problem_url "problems:analyze" %}" class="btn btn-success">
                <i class="fa fa-gear"></i>
                {% trans 'Analyze directory structure' %}
            </a>
        </div>
    {% endif %}
    <div class="row">
        {% trans 'Status' %}: {{ revision.verification_status.name }}
    </div>
    <br />
    {% if revision.verification_status.output_presentable %}
        <div class="row">
            {% trans 'Stdout' %}: <br/>
            <pre>{{ verify_out }}</pre>

        </div>
        <div class="row">
            {% trans 'Stderr' %}: <br/>
            <pre>{{ verify_err }}</pre>
        </div>
    {% endif %}

    <div class="row">
        <h3> {% trans 'Generation' %} </h3>
    </div>
    {% if revision.generation_status.start_allowed %}
        <div class="row">
            <a data-method="post" href="{% problem_url "problems:analysis_generate" %}" class="btn btn-success">
                <i class="fa fa-gear"></i>
                {% trans 'Generate' %}
            </a>
        </div>
    {% endif %}
    <div class="row">
        {% trans 'Status' %}: {{ revision.generation_status.name }}
    </div>
    <br />
    {% if revision.generation_status.output_presentable %}
        <div class="row">
            {% trans 'Stdout' %}: <br/>
            <pre>{{ generate_out }}</pre>

        </div>
        <div class="row">
            {% trans 'Stderr' %}: <br/>
            <pre>{{ generate_err }}</pre>
        </div>
    {% endif %}

{% endblock %}
