{% extends "base.html" %}
{% load i18n %}
{% load problems_tags %}
{%  block header %}
    {{ block.super }}
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="{% problem_url "problems:overview" %}" class="navbar-brand"> {{ revision.problem_data.title }} </a>

        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% problem_url "problems:overview" %}" >{% trans 'Overview' %}</a></li>
            <li><a href="{% problem_url "problems:files" %}" >{% trans 'Files' %}</a></li>
            <li><a href="{% problem_url "problems:testcases" %}" >{% trans 'Testcases' %}</a></li>
            <li><a href="{% problem_url "problems:solutions" %}" >{% trans 'Solutions' %}</a></li>
            <li><a href="{% problem_url "problems:invocations" %}" >{% trans 'Invocations' %}</a></li>
            <li><a href="{% problem_url "problems:checker" %}" >{% trans 'Checker' %}</a></li>
            <li><a href="{% problem_url "problems:validators" %}" >{% trans 'Validators' %}</a></li>
            <li><a href="{% problem_url "problems:discussions" %}" >{% trans 'Discussions' %}</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right flip">
            <li {% if revision_slug == "master" %} class="active" {% endif %} ><a href="{% url "problems:overview" problem.id "master" %}">{% trans 'Master' %}</a></li>
            <li {% if revision_slug == request.user.username %} class="active" {% endif %}><a href="{% url "problems:overview" problem.id request.user.username %}">{% trans 'My Fork' %}</a></li>
        </ul>
        {# <a href="{% url "problems:update_working_copy" problem.id request.user.username %}" class="navbar-link navbar-text">{% trans 'Update working copy' %}</a>  #}

    </nav>
{% endblock %}
{% block content %}
    <div class="col-sm-9">
        <div class="container-fluid">
            {% block problem_content %}
            {% endblock %}
        </div>
    </div>
    <div class="col-sm-3">
        {% block right_panels %}
            {% block version_control_panel %}
                {% include "problems/blocks/version_control.html" %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}