    {% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
        <h2> {% trans 'Checkers' %} </h2>
    </div>
    {% if revision_editable %}
    <div class="row">
        <a href="{% problem_url "problems:add_checker" %}" class="btn btn-success">
            <i class="fa fa-plus"></i> {% trans 'Add a checker' %}
        </a>
    </div>
    {% endif %}
    <br />
    <div class="row">
        {% if checkers %}
            <table class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        {% if revision_editable %}
                            <th class="col-md-7">{% trans 'Source Code' %}</th>
                            <th class="col-md-1">{% trans 'Language' %}</th>
                            <th class="col-md-1">{% trans 'Status' %}</th>
                            <th class="col-md-1"></th>
                        {% else %}
                            <th class="col-md-10">{% trans 'Source Code' %}</th>
                            <th class="col-md-1">{% trans 'Language' %}</th>
                            <th class="col-md-1">{% trans 'Status' %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
            {% for checker in checkers %}

                    <tr {% if checker == revision.problem_data.checker %} class="active-row" {% endif %}>
                        <td>
                            <a href="{% problem_url "problems:checker_source" checker.pk %}"> {{ checker }} </a>
                        </td>
                        <td>
                            {{ checker.source_language }}
                        </td>
                        <td>
                            {% if checker == revision.problem_data.checker %}
                                <span disabled class="btn btn-default btn-block">{% trans 'Active' %}</span>
                            {% elif revision_editable %}
                                <a class="btn btn-success btn-block" data-method='post' data-confirm='{% trans 'Are you sure you want to activate this checker?' %}' href='{% problem_url "problems:activate_checker" checker.id %}'>
                                        {% trans 'Activate' %}</a>
                            {% endif %}
                        </td>
                        {% if revision_editable %}
                            <td>
                                 <a class="text-primary" href='{% problem_url "problems:edit_checker" checker.id %}'>
                                    <i class="fa fa-pencil fa-lg" title="{% trans 'Edit' %}"></i></a>
                                <a class="text-danger" data-method='delete' data-confirm='{% trans 'Are you sure you want to delete this checker?' %}' href='{% problem_url "problems:delete_checker" checker.id %}'>
                                    <i class="fa fa-remove fa-lg" title="{% trans 'Delete' %}"></i></a>
                            </td>
                        {% endif %}
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-muted">
                {% trans 'No checker exists' %}
            </h4>
        {% endif %}
    </div>
    {% include "problems/resources_list.html" %}
{% endblock %}