{% extends "problems/base.html" %}
{% load i18n %}
{% load problems_tags %}
{% load bootstrap3 %}
{% block problem_content %}
    <div class="row">
        <h2> {{ discussion.title }} </h2>
        <p class="badge"> {{ discussion.get_priority_display }}</p>
    </div>
    <br />
    <div class="container-fluid">
            {% for comment in comments %}
            <div class="row">
                <h4>{{ comment.text }}</h4>
                <p class="text-muted">
                    <small>
                        {% blocktrans with author=comment.author posting_date=comment.posting_date %}
                            Created by {{ author }} at {{ posting_date }}
                        {% endblocktrans %}
                    </small>
                </p>
            </div>
            <br />
            {% endfor %}
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" method="post" action="{% problem_url "problems:comments" discussion.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_field form.text layout='inline'%}
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">
                        {% trans 'Submit' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}