{%  extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
            <h1>{% trans 'Commit working copy' %}</h1>
            {% include "problems/blocks/revision_diff.html" with differences=changes %}
            <form class="form-horizontal" method="post" action="{% problem_url "problems:commit" %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form commit_form %}
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">
                        {% trans 'Commit' %}
                    </button>
                </div>
            </form>

    </div>
{% endblock %}