{%  extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
            <h1>{% trans 'Commit working copy' %}</h1>
            {% include "problems/blocks/revision_diff.html" with differences=changes %}
            <form class="form-horizontal" method="post" action="{% problem_url "problems:commit" %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form commit_form %}
                <div class="form-inline">
                    <div class="form-group ">
                        <input type="submit" class="form-control btn btn-primary" value="{% trans 'Commit' %}" />
                    </div>
                    {% if not branches_disabled %}
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success" name="create_merge_request" value="{% trans 'Commit & Create Merge Request' %}" />
                    </div>
                    {% endif %}
                </div>
            </form>

    </div>
{% endblock %}