{%  extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <h1>{% trans 'Edit solution' %}</h1>
            <form class="form-horizontal" method="post" action="{% problem_url "problems:edit_solution" instance.pk %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">
                        {% trans 'Submit' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}