{% extends "problems/base.html" %}
{% load i18n %}
{% load problems_tags %}


{% block problem_content %}
    <h1> {% trans 'History' %} </h1>
    {% for commit in object_list %}
        <div class="panel panel-primary panel-body">
            {{ commit.author.name }} {% trans 'committed' %} (
            <a href="{% url "problems:overview" problem.id commit.id %}" > {% trans "View" %} </a>
            )
            <br />
            <pre>{{ commit.message }}</pre>

        </div>
    {% empty %}
         <h4 class="text-muted">
            {% trans 'No commits yet' %}
        </h4>
    {% endfor %}
{% endblock %}