{% extends "problems/base.html" %}
{% load i18n %}
{% load problems_tags %}


{% block problem_content %}
    <h1> {% trans 'History' %} </h1>
    {% for commit, previous_commit in object_list %}
        <div class="panel panel-primary panel-body">
            {{ commit.author.name }} {% trans 'committed' %} (
            <a href="{% url "problems:overview" problem.code commit.id %}" > {% trans "View" %} </a> |
            {% if previous_commit %}
                <a href="{% url "problems:diff" problem.code commit.id previous_commit.id %}" > {% trans "Diff with previous commit" %} </a> |
            {% endif %}
            <a href="{% url "problems:diff" problem.code revision_slug commit.id %}" > {% trans "Diff with current commit" %} </a> |
            )
            <br />
            <pre>{{ commit.message }}</pre>

        </div>
    {% empty %}
         <h4 class="text-muted">
            {% trans 'No commits yet' %}
        </h4>
    {% endfor %}
{% endblock %}