{% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
        <h2> Invocation details </h2>
    </div>
    <br />
    <div class="row">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
                <td></td>
                {% for solution,is_valid in validations %}
                    {% if is_valid == False %}
                        <td bgcolor="#f08080">{{ solution }}</td>
                    {% else %}
                        <td>{{ solution }}</td>
                    {% endif %}
                {% endfor %}
            </thead>
            <tbody>
                {% for testcase,testcase_results in results %}
                    <tr>
                        <td>{{ testcase }}</td>
                        {% for result in testcase_results %}
                            {% if result.validate == False %}
                                <td bgcolor="#f08080">
                            {% else %}
                                <td>
                            {% endif %}
                            <a href="{% problem_url "problems:view_invocation_result" invocation.id result.id %}">
                                {{ result.get_short_name_for_verdict }}
                            </a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% csrf_token %}
{% endblock %}