{% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
        <h2> {% trans 'Invocations on this commit' %} </h2>
    </div>
    <div class="row">
        <a href="{% problem_url "problems:add_invocation" %}" class="btn btn-success">
            <i class="fa fa-plus"></i> {% trans 'Add an invocation' %}
        </a>
    </div>
    <br />
    <div class="row">
        {% if commit_invocations %}
            <table class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        <td class="col-md-1">#</td>
                        <td class="col-md-7">{% trans 'Solutions' %}</td>
                        <td class="col-md-1">{% trans 'Number of executions' %}</td>
                        <td class="col-md-4"></td>
                    </tr>
                </thead>
                <tbody>
            {% for invocation in commit_invocations %}
                    {% if invocation.validate %}
                        <tr>
                    {% else %}
                        <tr class="alert alert-danger force-bgcolor">
                    {% endif %}
                        <td> {{ forloop.counter }} </td>
                        <td>
                            {% for solution in invocation.solutions.all %}
                                <p>{{ solution }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {{ invocation.repeat_executions }}
                        </td>
                        <td>
                            {% if invocation.task_id == None %}
                                <a data-method="post" href="{% problem_url "problems:run_invocation" invocation.id %}" class="btn btn-primary"> {% trans 'Run' %}</a>
                                {% if invocation.started %}
                                    <a href="{% problem_url "problems:view_invocation" invocation.id %}" class="btn btn-primary"> {% trans 'View' %}</a>
                                {% endif %}
                                <a data-method="post" href="{% problem_url "problems:clone_invocation" invocation.id %}" class="btn btn-primary"> {% trans 'Clone' %}</a>
                            {% else %}
                                {% trans 'Initializing' %}
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-muted">
                {% trans 'No invocation exists' %}
            </h4>
        {% endif %}
    </div>
    {% if old_invocations %}
        <div class="row">
            <h2> {% trans 'Invocations on previous commits' %} </h2>
        </div>
        <br />
        <div class="row">
            <table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <td class="col-md-1">#</td>
                    <td class="col-md-2">{% trans 'Revision' %}</td>
                    <td class="col-md-6">{% trans 'Solutions' %}</td>
                    <td class="col-md-4"></td>
                </tr>
            </thead>
            <tbody>
        {% for invocation in old_invocations %}
                {% comment %}
                For performance we do not validate here. TODO: if valdiate is improved add it here.
                {% endcomment %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ invocation.commit_id }} </td>
                    <td>
                        {% for solution in invocation.solutions.all %}
                            <p>{{ solution }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% if invocation.task_id == None %}
                            {% if invocation.started %}
                                <a href="{% problem_url "problems:view_invocation" invocation.id %}" class="btn btn-primary"> {% trans 'View' %}</a>
                            {% endif %}
                        {% else %}
                            {% trans 'Initializing' %}
                        {% endif %}
                        <a data-method="post" href="{% problem_url "problems:clone_invocation" invocation.id %}" class="btn btn-primary"> {% trans 'Clone' %}</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}