{%  extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1>{% trans 'Problem Overview' %}</h1>
            {% if revision_editable %}
            <form class="form-horizontal" method="post" action="{% problem_url "problems:overview" %}" enctype="multipart/form-data">
                {% csrf_token %}
            {% endif %}
            {% if revision_editable %}
                {% bootstrap_form form %}
                {% for tt_name, params_form in params_forms.items %}
                    <div id="{{ tt_name }}-form" hidden="hidden">
                        {% bootstrap_form params_form %}
                    </div>
                {% endfor %}
            {% else %}
                {% bootstrap_form form layout='readonly'%}
                {% for tt_name, params_form in params_forms.items %}
                    <div id="{{ tt_name }}-form" hidden="hidden">
                        {% bootstrap_form params_form layout='readonly' %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if revision_editable %}
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">
                        {% trans 'Save' %}
                    </button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>

    <script type="application/javascript">
        var task_type = document.getElementById('id_task_type');

        function hide_and_seek() {
            var form_id;
            var form;
            {% for x in params_forms %}
                form_id = "{{ x }}-form";
                form = document.getElementById(form_id);
                form.hidden = true;
            {% endfor %}

            form_id = task_type.value + "-form";
            form = document.getElementById(form_id);
            form.hidden = false;
        }

        task_type.onchange = hide_and_seek;
        hide_and_seek();
    </script>
{% endblock %}
