{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2> {% trans 'Problems' %} </h2>
        </div>
        <div class="row">
            <a href="/problem/add/" class="btn btn-success">
                <i class="fa fa-plus"></i> {% trans 'Add a problem' %}
            </a>
        </div>
    <br />
    <div class="row">
    <table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th class="col-md-8">{% trans 'Name' %}</th>
            <th class="col-md-2">{% trans 'Creator' %}</th>
            <th class="col-md-2">{% trans 'Revision' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td>
                <a href="{% url "problems:overview" problem.id "master" %}">
                    {{ problem.get_master_branch.head.problem_data.title }}({{problem.get_master_branch.head.problem_data.code_name}})
                </a>
            </td>
            <td> {{ problem.creator }} </td>
            <td>{{ problem.get_master_branch.head.depth }}</td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
{% endblock %}