{% extends "problems/base.html" %}
{% load i18n %}
{% load problems_tags %}
{% block problem_content %}
    <div class="panel panel-primary panel-body">
        <p>{% trans 'Since last time this branch was brought up-to-date with master, this object has been changed both on this branch and on the master. ' %}</p>
        <p>
            {% trans 'Below is the difference of current version of this object with its equivalent on master. ' %}
            {% trans 'Please note that the changes might not conflict and you even might not see any difference. The reason is that due to sensitivity of task preperation, auto-merging is disabled.' %}
        </p>
    </div>
    <div class="row">
        <div class="change-description">
        {% for key, value in current_with_master_diff.items %}
            <p>{{ key }}: {{ value|safe }}</p>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <form method="post" action="{% problem_url "problems:resolve_conflict" conflict.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-block" name="confirm">
                {% trans 'Confirm' %}
            </button>
        </form>
    </div>
{% endblock %}