{% extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}
{% load staticfiles %}


{% block problem_content %}
    <div class="row">
		<h1>{% trans 'Problem Statement' %}</h1>
		{% if revision_editable %}
			<form class="form-horizontal" method="post" action="{% problem_url "problems:statement" %}"
				  enctype="multipart/form-data">
			{% csrf_token %}
		{% endif %}
		{% if revision_editable %}
			{% bootstrap_form form %}
			{{ form.media }}
		{% else %}
			{% bootstrap_form form layout='readonly' %}
		{% endif %}
		{% if revision_editable %}
			<div class="form-group">
				<button type="submit" class="form-control btn btn-success">
					{% trans 'Save' %}
				</button>
			</div>
			</form>
		{% endif %}
    </div>
{% endblock %}

{% block css %}
	{{ block.super }}

    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
{% endblock %}

{% block foot_js %}
    {{ block.super }}
    <script src="{% static 'js/editor.js' %}"></script>

    <script>
        $(document).ready(function () {
            {% if revision_editable %}
                var editor = new SimpleMDE({
                    element: document.getElementById("id_statement"),
                    autofocus: true,
                    hideIcons: ["guide", "heading"],
                    placeholder: "Type the problem statement here..."
                });
            {% else %}
                var editor_fixed = new SimpleMDE({
                    element: document.getElementById("id_statement"),
                    autofocus: true,
                    toolbar: false
                });
                SimpleMDE.togglePreview(editor_fixed);
            {% endif %}
        });

    </script>
{% endblock %}
