{% extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}
{% load staticfiles %}

{% block head_js %}
    {{ block.super }}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ["\\(","\\)"], ["$", "$"] ],
          processEscapes: true
        }
      });
    </script>
    <script type="text/javascript" src="{% static 'MathJax/MathJax.js' %}?config=TeX-MML-AM_CHTML"></script>

{% endblock %}


{% block problem_content %}
    <div class="row">
		<h1>{% trans 'Problem Statement' %}</h1>
		{% if revision_editable %}
			<form class="form-horizontal" method="post" action="{% problem_url "problems:statement" %}"
				  enctype="multipart/form-data">
			{% csrf_token %}
		{% endif %}
		{% if revision_editable %}
			{% bootstrap_form form %}
			{{ form.media }}
		{% else %}
			{% bootstrap_form form layout='readonly' %}
		{% endif %}

        <div id="preview">

        </div>

		{% if revision_editable %}
			<div class="form-group">
				<button type="submit" class="form-control btn btn-success">
					{% trans 'Save' %}
				</button>
			</div>
			</form>
		{% endif %}
    </div>
{% endblock %}


{% block foot_js %}
    {{ block.super }}
    <script src="{% static 'js/showdown.min.js' %}"></script>
    <script>

        var sync_wait_interval = 100;

        var typingTimer = null;

        function sync_editor() {
            var converter = new showdown.Converter();
            var preview_element = $("#preview")[0];
            preview_element.innerHTML = converter.makeHtml($('#id_statement')[0].value);
            MathJax.Hub.queue.Push(["Typeset", MathJax.Hub, preview_element]);
        }
        $('#id_statement').on("keyup", function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(sync_editor, sync_wait_interval);
        }).on("keydown", function() {
            clearTimeout(typingTimer);
        });
        sync_editor();
    </script>

    <script src="{% static 'js/jquery.are-you-sure.js' %}"></script>
    <script>
        $('form').areYouSure();
    </script>


{% endblock %}
