{% extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load problems_tags %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'katex/katex.min.css' %}" />
{% endblock %}


{% block problem_content %}
    <div class="row">
		<h1>{% trans 'Problem Statement' %}</h1>
        {% if commit_editable %}
			<form class="form-horizontal" method="post" action="{% problem_url "problems:statement" %}"
				  enctype="multipart/form-data">
			{% csrf_token %}
            {% commit_token %}
		{% endif %}
        {% csrf_token %}
        <div class="col-sm-6">
        {% if commit_editable %}
			{% bootstrap_form form %}
			{{ form.media }}
		{% else %}
			{% bootstrap_form form layout='readonly' %}
		{% endif %}
        </div>
        <div class="col-sm-6">

        <div id="preview" class="markdown-body">

        </div>
        </div>

        {% if commit_editable %}
			<div class="form-group">
				<button type="submit" class="form-control btn btn-success">
					{% trans 'Save' %}
				</button>
			</div>
			</form>
		{% endif %}
    </div>
{% endblock %}


{% block foot_js %}
    {{ block.super }}
    <script src="{% static 'js/showdown.min.js' %}"></script>
    <script src="{% static 'katex/katex.min.js' %}"></script>
    <script src="{% static 'katex/auto-render.min.js' %}"></script>

    <script>

        var sync_wait_interval = 100;

        var typingTimer = null;

        function sync_editor() {
            var converter = new showdown.Converter({
                'tables': true,
                'parseImgDimensions': true
            });
            var preview_element = $("#preview")[0];
            var statement_element = $('#id_statement')[0];
            preview_element.innerHTML = converter.makeHtml(statement_element.value);
            $(statement_element).height($(preview_element).height());
            window.renderMathInElement(preview_element, {
                delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "\\(", right: "\\)", display: false},
                  {left: "$", right: "$", display: false}
                ]
            });
        }
        $('#id_statement').on("keyup", function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(sync_editor, sync_wait_interval);
        }).on("keydown", function() {
            clearTimeout(typingTimer);
        });
        $(document).ready(function() {
            $("#id_statement").height($("#preview").height());
        });
        $(window).load(function() {
            $("#id_statement").height($("#preview").height());
        });
        sync_editor();
    </script>

    <script src="{% static 'js/jquery.are-you-sure.js' %}"></script>
    <script>
        $('form').areYouSure();
    </script>


{% endblock %}
