{% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}
{% load object_list_generator %}

{% block problem_content %}
    <div class="row">
        <h2> {% trans 'Testcases' %} </h2>
    </div>
    <div class="row">
    {% if revision_editable  %}
        <a href="{% problem_url "problems:add_testcase" %}" class="btn btn-success">
            <i class="fa fa-plus"></i> {% trans 'Add a testcase' %}
        </a>
    {% endif %}
        <a data-method="post" href="{% problem_url "problems:generate_testcase" %}" class="btn btn-warning">
            <i class="fa fa-gear"></i>
            {% trans 'Generate all testcases' %}
        </a>
    </div>
    <br />
    <div class="row">
        {% include  'problems/blocks/testcases_table.html' %}
    </div>
{% endblock %}