{% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
        <h2> {% trans 'Validators' %} </h2>
    </div>
    <div class="row">

    </div>
    {% if revision_editable %}
        <div class="row">
            <a href="{% problem_url "problems:add_validator" %}" class="btn btn-success">
                <i class="fa fa-plus"></i> {% trans 'Add a validator' %}
            </a>
        </div>
    {% endif %}
    <br />
    <div class="row">
        {% if validators %}
            <table class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        {% if revision_editable %}
                            <th class="col-md-10">{% trans 'Source Code' %}</th>
                            <th class="col-md-2">{% trans 'Subtasks' %} </th>
                            <th class="col-md-1">{% trans 'Language' %} </th>
                            <th class="col-md-1"></th>
                        {% else %}
                            <th class="col-md-11">{% trans 'Source Code' %}</th>
                            <th class="col-md-2">{% trans 'Subtasks' %} </th>
                            <th class="col-md-1">{% trans 'Language' %} </th>
                        {% endif %}
                        <th class="col-md-1">{% trans 'Download' %} </th>
                    </tr>

                </thead>
                <tbody>
            {% for validator in validators %}
                    <tr>
                        <td>
                            <a href="{% problem_url "problems:validator_source" validator.pk %}">
                                {{ validator }}
                            </a>
                        </td>
                        <td>
                            {% for subtask in validator.subtasks.all %}
                                {% if not forloop.first %}
                                    ,
                                {% endif %}
                                {{ subtask.name }}
                            {% endfor %}
                        </td>
                        <td>
                            {{ validator.source_language }}
                        </td>
                        {% if revision_editable %}
                            <td>
                                <a class="text-primary" href='{% problem_url "problems:edit_validator" validator.pk %}'>
                                    <i class="fa fa-pencil fa-lg" title="{% trans 'Edit' %}"></i></a>
                                <a class="text-danger" data-method='delete' data-confirm='{% trans 'Are you sure you want to delete this validator?' %}' href='{% problem_url "problems:delete_validator" validator.pk %}'>
                                    <i class="fa fa-remove fa-lg" title="{% trans 'Delete' %}"></i></a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{% problem_url "problems:download_validator" validator.pk %}" class="btn btn-success">
                                <i class="fa fa-plus"></i> {% trans 'Download' %}
                            </a>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="alert alert-danger">
                {% trans 'No validator exists' %}
            </h4>
        {% endif %}
    </div>
    {% include "problems/resources_list.html" %}
{% endblock %}
{% block foot_js %}
    {{ block.super }}
{% endblock %}
