{% extends "problems/base.html" %}
{% load i18n %}
{% load problems_tags %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block problem_content %}
    <div id="source-code" style="height:560px;"></div>
    <br />
    {% if revision_editable %}
        {% if form %}
            {% bootstrap_form_errors form %}
        {% endif %}
    <form method="post" id="source_code_form">
        {% csrf_token %}
    {% endif %}
        <textarea id="id_source_code" name="source_code" class="hidden">{{code|safe}}</textarea>
    {% if revision_editable %}
        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
    {% endif %}
        <a href="{{ next_url }}" class="btn btn-primary">
            {% trans "Back" %}
        </a>
    {% if revision_editable %}
    </form>
    {% endif %}

{% endblock %}

{% block foot_js %}
    {{ block.super }}
    <script src="{% static "monaco-editor/min/vs/loader.js" %}"></script>

    <script>
        require.config({ paths: { 'vs': '{% static "monaco-editor/min/vs/" %}' }});
        require(['vs/editor/editor.main'], function() {
            var editor = monaco.editor.create(document.getElementById("source-code"), {
                value: $("#id_source_code").val(),
                readOnly: {% if not revision_editable %}true{% else %}false{% endif %},
            {% if lang == "c++" %}
                language: "cpp"
            {% elif lang %}
                language: "{{ lang }}"
            {% endif %}
            });
            $("#source_code_form").submit(function() {
                $("#id_source_code").val(editor.getValue())
            });
        });

    </script>

{% endblock %}
