[submodule "isolate"]
	path = isolate
	url = https://github.com/cms-dev/isolate.git
[submodule "MathJax"]
	path = cps/assets/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "cps/assets/MathJax"]
	path = cps/assets/MathJax
	url = https://github.com/mathjax/MathJax.git
