<div id="changes_accordion" >
<ol>
{% for difference_title, difference_desc in differences %}
    <li>
<div class="change">
    <div class="change-header">
        <h4>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_changes_{{ forloop.counter }}">
                {{ difference_title }}
            </a>
        </h4>
    </div>
    <div id="collapse_changes_{{ forloop.counter }}" class="collapse">
        <span class="change-description">{{ difference_desc|safe }}</span>
    </div>
</div>
    </li>
{% endfor %}
</div>