{% load i18n %}
{% load problems_tags %}

<div class="panel panel-primary">
    {# <div class="panel-heading"></div> #}
    <div class="panel-body">
        {% comment %}
            <p>{% trans 'Head revision' %}:
                {% if fork %}
                    {{ fork.head.revision_id }}
                {% else %}
                    {{ revision.revision_id }}
                {% endif %}
            </p>
            <p>{% trans 'Head revision depth' %}: {{ revision.depth }}</p>
         {% endcomment %}
        {% if fork and fork.owner == request.user or True%}
            {% if not fork.has_working_copy %}
                <form method="post" action="{% problem_url "problems:update_fork" %}">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block center-block">
                        {% trans 'Update from master' %}
                    </button>
                    <br />
                </form>
                <form method="post" action="{% problem_url "problems:apply_fork" %}">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block center-block">
                        {% trans 'Apply to master' %}
                    </button>
                    <br />
                </form>
                <form method="post" action="{% problem_url "problems:create_working_copy" %}">
                    {% csrf_token %}
                    <button class="btn btn-success btn-block center-block">
                        {% trans 'Start working' %}
                    </button>
                </form>
                <br />
            {% elif fork.working_copy == revision %}
                {% if revision.has_unresolved_conflicts %}
                     <a class="btn btn-danger btn-block center-block" href="{% problem_url "problems:conflicts" %}">
                        {% trans 'Resolve conflicts' %}
                    </a>
                {% else %}
                    <a class="btn btn-success btn-block center-block" href="{% problem_url "problems:commit" %}">
                        {% trans 'Commit' %}
                    </a>
                {% endif %}
            {% else %}
                <p class="text-center text-muted">{% trans "You can't edit this revision" %}</p>
            {% endif %}
            {% comment %}
            <a class="btn btn-danger btn-block center-block" href="{% problem_url "problems:discard" %}">
                {% trans 'Discard' %}
            </a>
            {% endcomment %}
        {% else %}
            <p class="text-center text-muted">{% trans "You can't edit this revision" %}</p>
        {% endif %}
    </div>
</div>