{% extends "problems/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load problems_tags %}

{% block problem_content %}
    <div class="row">
        <h2> {% trans 'Generators' %} </h2>
    </div>
    {% if revision_editable %}
        <div class="row">
            <a href="{% problem_url "problems:add_generator" %}" class="btn btn-success">
                <i class="fa fa-plus"></i> {% trans 'Add a generator' %}
            </a>
        </div>
    {% endif %}
    <br />
    <div class="row">
        {% if generators %}
            <table class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        {% if revision_editable %}
                            <th class="col-md-3">{% trans 'Source Code' %}</th>
                            <th class="col-md-3"> {% trans 'Title' %}</th>
                            <th class="col-md-4"> {% trans 'Script Data' %}</th>
                            <th class="col-md-2">{% trans 'Generate Testcases' %} </th>
                            <th class="col-md-1">{% trans 'Language' %} </th>
                            <th class="col-md-1"></th>
                        {% else %}
                            <th class="col-md-3">{% trans 'Source Code' %}</th>
			    {# <th class="col-md-3"> {% trans 'Title' %}</th> #}
			    {# <th class="col-md-4"> {% trans 'Script Data' %}</th> #}
                            <th class="col-md-1">{% trans 'Language' %} </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for generator in generators %}
                    <tr>
                        <td>
                            <a href="{% problem_url "problems:generator_source" generator.pk %}">
                                {{ generator }}
                            </a>
			</td>
			{% comment %}
                        <td>
                            {{ generator.title }}
                        </td>
			{% endcomment %}
			{% comment %}
                        <td>
                            <button class="btn btn-primary hide_button{{ generator.pk|slugify }}" style="display: none">
                                Hide
                            </button>
                            <button class="btn btn-primary show_button{{ generator.pk|slugify }}">
                                Show
                            </button>
                            <pre class="script_data{{ generator.pk|slugify }}" style="display: none">
                                {{ generator.text_data }}
                            </pre>
                        </td>
			{% endcomment %}
                        {% if revision_editable %}
                            <td class="text-center fa-lg">
                                {% if generator.is_enabled %}
                                    <a data-method="post" href="{% problem_url "problems:disable_generator" generator.pk %}" class="btn btn-danger">
                                        <i class="fa fa-gear"></i>
                                        {% trans 'Disable' %}
                                    </a>
                                {% else %}
                                    <a data-method="post" href="{% problem_url "problems:enable_generator" generator.pk %}" class="btn btn-warning">
                                        <i class="fa fa-gear"></i>
                                        {% trans 'Enable' %}
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}

                        <td>
                            {{ generator.source_language }}
                        </td>

                        {% if revision_editable %}
                            <td>
                                <a class="text-primary" href='{% problem_url "problems:edit_generator" generator.id %}'>
                                    <i class="fa fa-pencil fa-lg" title="{% trans 'Edit' %}"></i></a>
                                <a class="text-danger" data-method='delete' data-confirm='{% trans 'Are you sure you want to delete this generator?' %}' href='{% problem_url "problems:delete_generator" generator.id %}'>
                                    <i class="fa fa-remove fa-lg" title="{% trans 'Delete' %}"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-muted">
                {% trans 'No generator exists' %}
            </h4>
        {% endif %}
    </div>
    {% include "problems/resources_list.html" %}
{% endblock %}
{% block foot_js %}
    {{ block.super }}
    <script src="{% static 'js/generator.js' %}"></script>

    <script>
    $(document).ready(function() {
        {% for generator in generators %}
            set_click($(".show_button{{ generator.pk|slugify }}"),
                $(".hide_button{{ generator.pk|slugify }}"),
                $(".script_data{{ generator.pk|slugify }}"));
        {% endfor %}
    });
    </script>

{% endblock %}
