
html {
    min-height: 100%;
    height: auto;
}

body {
  height: 100%;
    background-color: whitesmoke;
}

@media (min-width: 768px) {
    .pull-right-no-xs {
        float: right !important;
    }
}

.navbar-placeholder {
    min-height: 50px;
}

.navbar-inverse .sidebar > li > a {
    color: #9d9d9d;
}

.navbar-inverse .sidebar > li > a:hover,
.navbar-inverse .sidebar > li > a:focus {

    background-color: #5e5e5e;
}




.navbar-fixed-side {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-fixed-side .navbar-nav {
    height: 100%;
}

.history-box {
    background: #00ecb5;
    margin: 15px;
    padding: 7px 17px 7px 17px;
    width: 400px;
    border-radius: 10px;
}

.navbar {
    margin: 0;
}

.navbar-brand {
    padding: 0px;
    padding-left: 5px ;
}
.navbar-brand>img {
    height: 100%;

    width: auto;

}


/*** Problem sidebar ***/

.full-wrapper {

    height: 100%;
    display: none;
    padding-left: 20%;

}



.full-wrapper.collapsed-sidebar {
    padding-left: 50px;
}


.sidebar-wrapper {
    position: fixed;
    height: 100%;
    width: 20%;
    left: 0;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: auto;
    background-color: ghostwhite;


}

.full-wrapper.smooth-transition {
    transition: all 0.2s ease;
    display: inherit;
}

.smooth-transition .sidebar-wrapper{
    transition: all 0.2s ease;
}


.collapsed-sidebar .sidebar-wrapper {
    width: 50px;
}

.content-wrapper {
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;


}

.sidebar {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    transition: all 0.2s ease;

}
.sidebar-content {
    padding-bottom: 120px;
}

.sidebar .sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.sidebar > img {
    width: 100%;
    height: auto;
}

.sidebar .logo {
    max-width: 100px;
    width: 100%;


}

.sidebar hr {
    border: 1px solid lightgray;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;

}

.sidebar-menu > li {
  position: relative;
  display: block;


}
.sidebar-menu > li > a {
  color: inherit;
  position: relative;
  display: block;
  padding: 10px 20px;

}

pre.source-code {
    border: none;
}

.collapsed-sidebar .sidebar-menu > li {
    text-align: center;
}

.collapsed-sidebar .sidebar-menu > li > a{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;

}

.sidebar-menu > li > a:hover {
  text-decoration: none;
  background-color: lightblue;
}

.sidebar-menu > li > a:focus {
  text-decoration: none;
}
.sidebar-menu > li.disabled > a {
  color: #777;
}
.sidebar-menu > li.disabled > a:hover,
.sidebar-menu > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.collapsed-sidebar .full-open-only {
    display: none;
}

.collapsed-sidebar .collapsed-only {
    display: inherit;
}

.collapsed-only {
    display: none;
}


.problem-title {
    line-height: 30px;
    font-size: 1.5em;
}

