<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

<html lang="{{LANGUAGE_CODE}}">

<head>
    {% block header_content %}
        <title>
            {% block title %}
                {{ request.site.name }}
            {% endblock %}
        </title>
        {% block css %}
            {% if debug or True  %}
                <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
                <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}" />
            {% else %}
                <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
                <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
            {% endif %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        {% block head_js %}
        {% endblock %}
    {% endblock %}
</head>

<body>
    {% block body_content %}
        {% block header %}
        <nav class="navbar-default navbar">
            <div class="container-fluid" >
                <div class="navbar-header ">

                        <a href="#" class="navbar-brand">
                            <img class="img img-responsive" src="{% static 'img/logo-full.png' %}"  alt="{{ request.site.name }}" />
                        </a>
                    <h1 class="sr-only">{{ request.site.name }}</h1>
                </div>
                <ul class="nav navbar-nav">
                    <li> <a href="{% url "problems:problems" %}"> {% trans 'Home' %} </a></li>
                </ul>
                <div class="navbar-right ">
                    <p class="navbar-text">
                        {% if user.is_authenticated %}
                            {% trans 'You are logged in as' %} <a href="{% url "accounts:profile" %}">{{ user }}</a>
                            (<a href="{% url "accounts:change_password" %}">{% trans 'Change Password' %}</a> | <a href="{% url "accounts:logout" %}">{% trans 'Logout' %}</a>)
                        {% endif %}
                    </p>
                </div>
            </div>
            <!-- /container -->
        </nav>
        {% endblock %}
        {% bootstrap_messages %}
        <div class="container-fluid">

            {% block content %}
            {% endblock %}
        </div>
        {% block foot_js %}
            <script src="{% static 'jquery/js/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/js.cookie.js' %}"></script>
            <script src="{% static 'js/http_requests.js' %}"></script>

        {% endblock %}
    {% endblock %}
</body>

</html>
